.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fibonacci {
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  width: 100%;
  background-color: white;
}

button {
  width: 100px;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  cursor: pointer;
}

img {
  max-width: 200px;
}